@model LoginModel
@{
    Layout = "_LayoutDeslogada";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <main>      
        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                @TempData["MensagemSucesso"]
            </div>
        }
        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                @TempData["MensagemErro"]
            </div>
        }
        <h1>Tela de Login</h1>
        <form asp-controller="Login" asp-action="Entrar" method="post">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" asp-for="Login" class="form-control" id="Login">
                @Html.ValidationMessageFor(x => x.Login)
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" asp-for="Senha" class="form-control" id="Senha">
                @Html.ValidationMessageFor(x => x.Senha)
            </div>
            <br />
            <nav class="sobre-cadastro">
                Esqueceu a senha?
                <a asp-controller="Login" asp-action="RedefinirSenha">Redefinir Senha</a>
            </nav>
            <nav class="botoes2">
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </nav>
        </form>
    </main>
</body>
</html>