@model UsuariosModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body id="inicio">
    <main class="tamanho">
        <div class="conteudo1">
            <h1>Loja Virtual CarrosDUB</h1>
        </div>
        <div class="conteudo2">
            <h2>
                Peças e acessórios de qualidade com desconto para o seu veículo?
            </h2>
            <div id="pneu">
                <img id="pneu2" src="/css/Roda.png" alt="Roda"/>
                <p class="pconteudo">Adquira rodas novas!</p>
                <a class="pneu3">Clique aqui</a>
            </div>
            <div id="pecas">
                <img id="pecas2" src="/css/Ferramenta.png" alt="Peças"/>
                <p class="pconteudo">Melhore seu veículo com algumas peças.</p>
                <a class="pecas3">Clique aqui</a>
            </div>
        </div>
    </main>
</body>
</html>

