@{
    ViewData["Title"] = "Sobre Nós";
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <main>
        <h1>@ViewData["Title"]</h1>
        <article>
            <p>CarrosDUB foi um site criado em 2008 com a ideía de ajudar prioritarios de carro a encontrar uma peça ou acessório especifico de seu veículo sem sair de casa, desde então o CarrosDUB vem compromissado com a qualidade das peças e acessórios vendido em nossa página, de crucial garantimos támbem um ótimo atendimento em nossos serviços ao cliente, como por exemplo: </p>
            <ul>
                <li>Atenção maxíma ao cliente</li>
                <li>Chat para tirar dúvidas</li>
                <li>Rapidéz e segurança nas entregas</li>
            </ul>
        </article>
        <article>
            <h2>Nossos patriocínios</h2>
            <p>Nossos patrocinadores master são essenciais para aprimorar nosso trabalho a cada dia. Juntos, avançamos em direção ao sucesso</p>
        </article>
        <nav>
            <ul>
                <li><a href="https://www.dubstore.com.br" target="_blank" ref="external">DUBStore</a></li>
                <li><a href="https://www.hostnet.com.br" target="_blank" ref="external">HostNet</a></li>
            </ul>
        </nav>
        <h2>Onde fica a loja?</h2>
        <div id="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8703.310267156545!2d-46.49277006920843!3d-23.486018494216957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1708413089498!5m2!1spt-BR!2sbr" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
</body>
</html>



