@model UsuariosModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <main>
        <h1>Realmente deseja apagar o usuário (@Model.Nome)?</h1>
        <nav class="botao-adicionar2">
            <a class="btn btn-primary" asp-action="Apagar" asp-controller="Usuarios" asp-route-id="@Model.Id" role="button">Confirmar</a>
            <a class="btn btn-danger" asp-action="Index" asp-controller="Usuarios" role="button">Cancelar</a>
        </nav>
    </main>
</body>
</html>
