@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}
<nav>
    <p>Voçe não tem acesso a está página.<a asp-controller="Home" asp-action="Index">Click aqui para voltar</a></p>
</nav>